{%  load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Neighborhood Real Estate Pricing</title>
    </head>
    <body>

        <div>
            <h2>Neighborhood Real Estate Pricing</h2>
        </div>

        <div>
            <p>Welcome! Use our calculator to make predictions about future median home prices based on
                school quality, crime rates, income levels, and CTA availability.</p>
        </div>

{#        <div class='frame'>#}
{#            <form method="post" action={% url 'fetch' %}>#}
{#                <table class='form'>#}
{#                    {% csrf_token %}#}
{#                    {{ select_form }}#}
{#                </table>#}
{#                <input type="submit" value="Submit" />#}
{#            </form>#}
{#        </div>#}

        <div>
            <form method="post">
                <table class='form'>
                    {% csrf_token %}
                    {{ alter_form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>

        {% if results %}
        <div>
            {{ results }}
        </div>
        {% endif %}

    </body>
</html>

