{%  load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Neighborhood Real Estate Pricing</title>
    </head>
    <body>

    <center>
        <div>
            <h2>Chicago Neighborhood Real Estate Pricing</h2>
        </div>

        <div>
            <p>Welcome to our home pricing calculator for Chicago neighborhoods.</p>
            <p>You can either look up the current statistics for a Chicago neighborhood <br />
                or use our calculator to predict how changes in the neighborhood would <br />
                affect the median home price.</p>
        </div>

        <div>
            <a href="{% url 'lookup' %}">Look Up</a>
        </div>
        <div>
            <a href="{% url 'calculate' %}">Calculator</a>
        </div>

    </center>

    </body>
</html>

