{%  load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Neighborhood Real Estate Pricing</title>
    </head>
    <body>

        <div>
            <h2>Look Up Chicago Neighborhood Data</h2>
        </div>

        <div>
            <p>Look up the current school quality, crime rate, income level, and CTA availability
            for a given neighborhood in Chicago.</p>
        </div>

        <div>
            <form method="post">
                <table class='form'>
                    {% csrf_token %}
                    {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>

        {% if results %}
        <div>
            <table>
                <tr>
                    <td align="right">
                        <b>Crime Level:</b>
                    </td>
                    <td align="left">
                        {{ crime }}
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <b>School Quality:</b>
                    </td>
                    <td align="left">
                        {{ school }}
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <b>Income Level:</b>
                    </td>
                    <td align="left">
                        {{ income }}
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <b>Has CTA L Station?</b>
                    </td>
                    <td align="left">
                        {{ cta }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td align="right">
                        <b>Median Home Price:</b>
                    </td>
                    <td align="left">
                        {{ price }}
                    </td>
                </tr>

            </table>
        </div>
        {% endif %}

        <center>
            <div>
                <p>Data provided by <a href="http://www.trulia.com" target="_blank">Trulia</a>
                    and <a href="http://data.cityofchicago.org" target="_blank">City of Chicago</a></p>
            </div>
        </center>

    </body>
</html>

