{%  load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Form Test</title>
    </head>
    <body>

        <div>
            <h2>Testing Forms</h2>
        </div>

        <div>
            <p>Welcome! Use our calculator to make predictions about future median home prices based on
            changes to school quality, crime rates, income levels, and CTA availability.</p>
            <p>Start by selecting a neighborhood.</p>
        </div>

        <div class='frame'>
            <form method="get">
                <table class='form'>
                    {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>

    </body>
</html>

